extends layouts/main.pug

block vars
	- var lang = 'es'
	- var template = 'tpl__home'
	- var page = 'home'
	- var pageTitle = 'New experiment'


block main
	section.wrapper
		p (Main content!)

		span.square
		span.circle
		span.heart

		span.triangle-left
		span.triangle-right
		span.triangle-top
		span.triangle-bottom

		span.triangle-top-left
		span.triangle-top-right
		span.triangle-bottom-left
		span.triangle-bottom-right
